.waterinfo-loading {
    padding: 6px 10px 6px 6px;
    color: #333;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    background: #fff;
    border-radius: 5px;
    height: 40px;
    max-width: 250px;
    min-width: 200px;
}

.waterinfo-loading-spinner {
    float: left;
}

.waterinfo-loading-text {
    margin: 2px;
    padding: 2px;
    padding-left: 8px;
    overflow: hidden;
}