<div *ngIf="location" class="container">
    <div class="row">
        <div class="col-sm-12">
            <h6>{{location.name}}</h6>
            <a target="_blank" href="{{location.attribution.url}}"><i>{{location.attribution.text}}</i></a>
        </div>
    </div>
    <div *ngIf="location.quantityData" class="row row-outlined">
        <div class="col-sm-8">
            {{location.quantityData.parameter.name}}
        </div>
        <div class="col-sm-4">
            <b>{{location.quantityData.value}} {{location.quantityData.parameter.unit}}</b>
            <br/> {{location.quantityData.datetime | date: 'dd-MM-yyyy HH:mm'}}
        </div>
    </div>
    <div *ngIf="location.directionData" class="row row-outlined">
        <div class="col-sm-8">
            {{location.directionData.parameter.name}}
        </div>
        <div class="col-sm-4">
            <b>{{location.directionData.value}} {{location.directionData.parameter.unit}}</b>
            <br/> {{location.directionData.datetime | date: 'dd-MM-yyyy HH:mm'}}
        </div>
    </div>
    <div *ngIf="location.labelData && location.labelData.parameter.name !== location.labelData.parameter.name" 
        class="row row-outlined">
        <div class="col-sm-8">
            {{location.labelData.parameter.name}}
        </div>
        <div class="col-sm-4">
            <b>{{location.labelData.value}} {{location.labelData.parameter.unit}}</b>
            <br/> {{location.labelData.datetime | date: 'dd-MM-yyyy HH:mm'}}
        </div>
    </div>

</div>