<div class="surfsup-map-layer-add-panel">
	<div class="surfsup-map-layer-add" *ngIf="active">


		<div class="surfsup-map-layer-add-select-group" *ngIf="step===1">
		Je kan zelf je eigen lagen toevoegen aan de kaart, op basis van de RWS Waterinfo data. Selecteer eerst een groep.			
			<ul class="select-waterinfo-groups">
				<li *ngFor="let waterinfoGroup of waterinfoGroups"
					[class.selected]="waterinfoGroup === waterinfoGroupSelected"
					(click)="onWaterinfoGroupSelect(waterinfoGroup)">
					{{waterinfoGroup.label}}
				</li>
			</ul>
		</div>

		<div class="surfsup-map-layer-add-select-par" *ngIf="step===2">
		De geselecteerde groep <b><i>{{waterinfoGroupSelected.label | lowercase}}</i></b> heeft de volgende parameters beschikbaar. 
		Selecteer een parameter voor de omvang van het symbool ("Hoofd waarde").
			<ul class="select-waterinfo-parameters">
				<li *ngFor="let parameter of quantityParameters()"
				[class.selected]="parameter === quantityPar"
				(click)="selectQuantityPar(parameter)">
					{{parameter.label}}
				</li>
			</ul>
		</div>

		<div class="surfsup-map-layer-add-select-par" *ngIf="step===3">
		De geselecteerde groep <b><i>{{waterinfoGroupSelected.label | lowercase}}</i></b> heeft de volgende parameters beschikbaar. 
		Selecteer een parameter voor de pijl op het symbool ("Richting"), of sla deze stap over.
			<ul class="select-waterinfo-parameters">
				<li *ngFor="let parameter of directionParameters()"
						[class.selected]="parameter === directionPar"
						(click)="selectDirectionPar(parameter)">
					{{parameter.label}}
				</li>
			</ul>
		</div>

		<div class="surfsup-map-layer-add-select-par" *ngIf="step===4">
		De geselecteerde groep <b><i>{{waterinfoGroupSelected.label | lowercase}}</i></b> heeft de volgende parameters beschikbaar. 
		Selecteer een parameter voor de tekst op het symbool ("Label"), of sla deze stap over.
			<ul class="select-waterinfo-parameters">
				<li *ngFor="let parameter of waterinfoGroupSelected.parameters"
				[class.selected]="parameter === labelPar"
				(click)="selectLabelPar(parameter)">
					{{parameter.label}}
				</li>
			</ul>
		</div>

		<button *ngIf="step>1" class="surfsup-map-layer-add-button-back" (click)="back()">Vorige</button> 
		<button *ngIf="canAdd" class="surfsup-map-layer-add-button-addlayer" (click)="addLayer()">Toevoegen</button> 
		<button *ngIf="isAdded" class="surfsup-map-layer-add-button-ok" (click)="finalize()">OK</button> 

	</div>

	<div>
		<button class="surfsup-map-layer-add-button-toggle" (click)="active = !active">{{active ? '^' : '+'}}</button> 
	</div>
	 
</div>
