/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Segoe UI', sans-serif;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

.map-panel {
    position: absolute;
    z-index: 1000;
    background-color: white;
    height: 100%;
}

.map-panel-button {
    position: absolute;
    z-index: 1000;
    width: 35px;
    height: 35px;
}

/*#map-main-container  {
    width: 100%;
    height: 100%;

}*/
